/* 기본 설정 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Pretendard', sans-serif;
  background-color: #f9fafa; /* 눈에 편한 연한 회백색 */
  color: #333;
  line-height: 1.6;
}

/* Header */
.main-header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  position:static;
  top: 0;
  z-index: 10;
}

.intro-title h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #2d6cdf;
  white-space: nowrap;
  overflow: hidden;

}

@keyframes typing {
  from { width: 0 }
  to { width: 180px }
}

@keyframes blink {
  50% { border-color: transparent }
}

.job-title {
  font-size: 1.1rem;
  margin-top: 0.5rem;
  color: #666;
}

.self-intro {
  max-width: 50%;
  font-size: 1rem;
  color: #555;
}

/* Layout */
.main-content {
  display: flex;
  padding: 2rem;
}

/* Side Navigation */
.side-nav {
  position: sticky;
  top: 120px; /* header보다 살짝 아래 */
  width: 200px;
  height: fit-content;
  align-self: flex-start;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 1rem;
  margin-right: 4rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.side-nav ul {
  list-style: none;
}

.side-nav li {
  margin-bottom: 1rem;
}

.side-nav a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: all 0.3s;
}

.side-nav a:hover,
.side-nav a.active {
  color: #2d6cdf;
  background-color: #e8f0fe;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
}

/* Section Content */
.content {
  flex: 1;
}

.about, .projects {
  margin-bottom: 4rem;
  margin-top: 2rem; /*추가*/
}

.project-card {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 12px;
  margin-bottom: 2rem;
  background-color: #ffffff;
  transition: transform 0.8s ease;
}

.project-card:hover {
  transform: scale(102%);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.project-card h3 {
  color: #2d6cdf;
}

.project-card ul {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding-left: 1.2rem;
}

.project-card a {
  text-decoration: none;
  color: #2d6cdf;
  font-weight: 600;
}

/* Footer */
footer {
  text-align: center;
  padding: 2rem;
  background-color: #e8f0fe;
  color: #333;
  margin-top: 2rem;
}

/* 다크모드 추가 코드 */

body.dark {
  background-color: #1e1e1e;
  color: #ddd;
}

body.dark .main-header,
body.dark .project-card,
body.dark footer {
  background-color: #2a2a2a;
  color: #ddd;
  box-shadow: none;
}

body.dark .side-nav a {
  color: #bbb;
}

body.dark .side-nav a.active,
body.dark .side-nav a:hover {
  background-color: #444;
  color: #fff;
}

body.dark .project-card a {
  color: #6caeff;
}

body.dark .side-nav {
    background-color: #777575;
}


/* 추가 내용*/
.projects h2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.about h2 {
    padding-bottom: 2rem;   
}
